<h2>Edit Order</h2>
<form method="post" action="/pizza-orders/<%= @order.id %>">
<label for = "first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" value="<%= @order.first_name %>" />
<br>
<br>
<br>
<label for = "last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" value="<%= @order.last_name %>" />
<br>
<br>
<br>
<label for="pizza-select">Select a pizza:
</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita">Margherita</option>
    <option value="Calzone">Calzone</option>
  </select>
  <br>
  <br>
  <label for="quantity">Quantity:</label>
    <input id="quantity" type="number" name="quantity" value="<%= @order.quantity %>"/>
  <br>
  <br>
  <input type="submit" value="Edit Order"/>
</form>
