<!DOCTYPE html>
<html>
  <head>
    <title>Pizza Shop</title>
  </head>
  <nav>
    <ul>
      <li>
        <a href="/pizza-orders">Pizza Orders</a>
      </li>
    </ul>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
