<!DOCTYPE html>
<html>
  <head>
    <title>Pizza Shop</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/pizza-orders">Pizza Orders</a>
        </li>
      </ul>
    </nav>
    <img src="/nicepicture.png" alt="pizza">

    <%= yield %>

  </body>
</html>
