<h2>Pizza Order</h2>

<ul>
  <li>First Name: <%= @order.first_name %></li>
  <li>Last Name: <%= @order.last_name %></li>
  <li>Topping: <%= @order.topping %></li>
  <li>Quantity: <%= @order.quantity %></li>
</ul>
